* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    background-color: #2c3e50;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

aside{
    background-color: #7f8c8d;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 4rem;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.7rem;
}
article p{
    padding: 1rem;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
}

input{
    font-size:2rem;
    padding:1rem;
    border:none;
    border-bottom:1px solid #757575;
    width: 49%;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 3rem;
    height: 100%;
    background-color: #bdc3c7;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ul li{
    padding-left: 2rem;
}

ul li img{
    display: block;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto
}

article a {
    text-decoration: underline;
    color: blue;
}

.recherche{
    width: 100%;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 2.5em;
    font-family: sans-serif;
    width: 40%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #2c3e50;
    color: #bdc3c7;
    text-align: left;
    width: 100%;
}

.styled-table th,
.styled-table td {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
}

.styled-table tbody tr {
    border-bottom: 1px solid #2c3e50;
    background-color: #bdc3c7;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #95a5a6;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #2c3e50;
}


input:focus{ 
    outline:none; 
}

.position-table{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#resultAPIAccueil {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#resultAPIAccueil .card{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#resultAPIAccueil .card .icon {
    width: 100%;
    height: 100%;
    background: grey;
    transition: 0.7s;
    z-index: 1;
}

#resultAPIAccueil .card .face {
    width: 100%;
    height: 300px;
    transition: 0.5s;
}

#resultAPIAccueil .card .face.face1 {
    position: relative;
    background: #bdc3c7;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

#resultAPIAccueil .card:hover .face.face1{
    background: #95a5a6;
    transform: translateY(0px);
}

#resultAPIAccueil .card .face.face1 .content {
    opacity: 1;
    transition: 1s;
}

#resultAPIAccueil .card:hover .face.face1 .content {
    opacity: 1;
}

#resultAPIAccueil .card .face.face1 .content img{
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 0.7s;
    max-width: 40%;
}

#resultAPIAccueil .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: 0 5px 10px #95a5a6;
    transform: translateY(-200px);
}

#resultAPIAccueil .card:hover .face.face2{
    transform: translateY(0);
}

#resultAPIAccueil .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

#resultAPIAccueil .card .face.face2 .content h1 {
    font-size: 2.2rem;
    text-align: center;
    color: #414141;
}

@media screen and (min-width: 1400px){
    .styled-table {
        font-size: 1.5em;
    }

    ul li img{
        width: 30%;
    }
}
   